<div class="head_bar">
  <div class="title">
    <div class="title-logo">エントレ面接</div>
  </div>
  <div class="retry">
    <%# <div class="retry-btn">リトライ</div> %>
    <%= link_to "リトライ", root_path, class: "retry-btn" %>
  </div>

</div>