<div class="wrapper">
  <div class="header">
    <%= render "header" %>
  </div>
  <div class="main">
    <div class="content">
      
      <div class="question">お疲れ様でした</div>
      <div class="next">
        <%= link_to "トップへ", root_path, class: "bottom-link" %>
      </div>
    </div> 
  </div>

  

</div>