<div class="wrapper">
  <div class="header">
    <%= render "header" %>
  </div>
  <div class="main">

    <h1>Interviews#index</h1>
    <p>Find me in app/views/interviews/index.html.</p>

    <div class="test1">テスト１</div>
  </div>

</div>