<div class="wrapper">
  <div class="header">
    <%= render "header" %>
  </div>
  <div class="main">
    <div class="content">

        <div class="question">自己紹介をお願いします</div>
        <%= link_to "次へ", interviews_question_path, class: "next" %>

    </div> 
  </div>

  

</div>