.wrapper{
  width: 100vw;
  height: 100vh;
}

/* ********************* */
/* ****** ヘッダー ******* */
/* ********************* */
.head_bar{
  height: 80px;
  width: auto;
  background-color: #003366;
  display: flex;
  justify-content: space-between;
}

.title{
  margin: auto 20px;

}

.title-logo{
  font-family: 'Dela Gothic One', sans-serif;
  font-size: 40px;
  color: white;
  
}

.retry{
  margin: auto 40px;
}

.retry-btn  {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	width: 100px;
	margin: auto;
	padding: 0.4rem 1rem;
	font-weight: bold;
	border-radius: 10px;
	color: white;
	border: 3px solid white;
	box-shadow: 5px 5px white;
	transition: 0.3s ease-in-out;
}
.retry-btn:active {
	box-shadow: none;
	transform: translate(5px, 5px);
	color: white;
}




/* ********************* */
/* ****** メイン ******* */
/* ********************* */

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("backimage.jpg");
  background-size: cover;
}

.content{
  width: 80vw;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mensetu{
  color : #003366;
  font-family: 'Kaisei Opti', serif;
  /* font-family: 'Sawarabi Gothic', sans-serif; */
  font-size: 100px;
}

.setumei{
  font-family: "Sawarabi Gothic";
  font-size: 24px;
}

.ten{
  font-family: "Sawarabi Gothic";
  font-size: 34px;
  color: #999900;
}

.setumei-block{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.category{
  width: 160px;
  height: 270px;
  border: solid #003366 1px;
  margin: 40px 30px;
}

.category-head{
  font-family: "Sawarabi Gothic";
  font-size: 20px;
  height: 35px;
  padding-left: 5px;
  background-color: #003366;
  color: white;
}

.category-bottom{
  font-family: "Sawarabi Gothic";
  font-size: 12px;
  padding: 0 5px;
  height: calc(100% - 35px);
  background-color: white;
  color: #003366;
}

.icon{
  width: 120px;
}

.start{
  /* background-color: #999900; */
  width: 100vw;
  height: 100vh;
}

.start-btn{
  font-family: 'Zen Kaku Gothic New', sans-serif;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 120px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #FF9900;
  background: #FF9900;
  color: #fff;
  border-radius: 5px;
  transition: 0.5s;
  animation: move_b 2s infinite;
}
@keyframes move_b {
  0% {transform: translate(4px, 0px);}
  5% {transform: translate(-4px, 0px);}
  10% {transform: translate(4px, 0px);}
  15% {transform: translate(-4px, 0px);}
  20% {transform: translate(4px, 0px);}
  25% {transform: translate(-4px, 0px);}
  30% {transform: translate(0px, 0px);}
}
.start-btn:hover {
  color: #FF9900;
  background: #fff;
}


/* *********************************** */
/* ****** 部分テンプレート質問内容 ******* */
/* *********************************** */

.question{
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 350px;
  width: 70vw;
  margin-top: 50px;
  text-align: center;
}

.next{
  font-family: 'Zen Kaku Gothic New', sans-serif;
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 120px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #FF9900;
  background: #FF9900;
  color: #fff;
  border-radius: 5px;
}

.bottom-link{
  font-family: 'Zen Kaku Gothic New', sans-serif;
  text-decoration: none;
  color: white;
}



/* ********************* */
/* ****** フッター ******* */
/* ********************* */
